@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes press {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-press {
  animation: press 200ms ease-in-out;
}